body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f0;
    color: #333;
}

header {
    background-color: #2f3e46;
    color: white;
    padding: 10px 20px;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    background: url('imagenes/sambiental.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

.services {
    padding: 40px 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    flex: 1 1 calc(50% - 20px); /* Dos elementos por fila, con un margen */
    display: flex;
    align-items: center;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.service-item img {
    width: 50%; /* Imagen ocupa el 50% del contenedor */
    object-fit: cover;
}

.service-description {
    padding: 20px;
    background-color: white;
}

.cta {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

.btn {
    background-color: #2d6236;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: rgb(0, 128, 0, 0.5); 
    color: white;
    text-align: center;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
